<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtLogs</title>
    <link rel="icon" href="browser-icon.svg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- Color Animation CSS -->
    <link rel="stylesheet" href="css/color-animation.css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/home.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
   
  <%- include("partials/navbar") -%>
    <section id="showcase">
        <div class="showcase-bg">
            <div class="container">
                <div class="row slider-card">
                    <div class="col-lg-8 slider">
                        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                            <ol class="carousel-indicators">
                              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
                              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
                              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="slider-images/slider1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h3>Connect to a world of experiences</h3>
                                  <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="slider-images/slider2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h3>Write your own thoughts and share it with the world.</h3>
                                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
                                </div>
                              </div>
                              <div class="carousel-item">
                                <img src="slider-images/slider3.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                  <h3>We deeply believe in sharing and caring of your ideas.</h3>
                                  <!-- <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
                                </div>
                              </div>
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                              <span class="visually-hidden">Next</span>
                            </a>
                          </div>
                    </div>
                    <div class="col-lg-4 card-wrapper">
                        <div class="card">
                            <div class="card-header">
                              Pen down yours
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Create your own Blog!</h5>
                              <p class="card-text">Show your support to enrich the environment and culture of the community.</p>
                              <a href="/compose" class="btn btn-secondary">Now it's your turn</a>
                            </div>
                            <div class="card-footer text-muted">
                              Happy writing !
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="posts">
        <% const l = posts.length; %>
        <% for(let i=l-1; i>=0 ; i--){ %>
        <%  if(i%2===1){ %>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-4 post-img-col">
                      <img class="post-img" src="post-img/<%= i%5 %>.jpg" alt="">
                  </div>
                  <div class="col-md-8 post-body">
                      <p class="post-space mb-0"> <%= posts[i].space %> </p>
                      <a class="post-heading" href="/posts/<%= posts[i].space %>/<%= posts[i]._id %>" > <%= posts[i].postTitle %> </a>
                      <p class="post-para"> <%= posts[i].postBodyText.slice(0, 200)  %>... </p>
                      <div class="post-details-wrapper">
                          <img class="author-img" src="post-img/avtar.jpg" alt="">
                          <p class="post-details"> <%= posts[i].authorName %> | 🕓 <%= posts[i].timeStamp %> | ⏳ <%= posts[i].readTime %> min </p>
                      </div>
                  </div>
              </div>
          </div>
        <% } else { %>
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-8 post-body">
                      <h6 class="post-space mb-0"> <%= posts[i].space %> </h6>
                      <a class="post-heading" href="/posts/<%= posts[i].space %>/<%= posts[i]._id %>" > <%= posts[i].postTitle %> </a>
                      <p class="post-para"> <%= posts[i].postBodyText.slice(0, 200)  %>... </p>
                      <div class="post-details-wrapper">
                          <img class="author-img" src="post-img/avtar.jpg" alt="">
                          <p class="post-details"> <%= posts[i].authorName %> | 🕓 <%= posts[i].timeStamp %> | ⏳ <%= posts[i].readTime %> min </p>
                      </div>
                  </div>
                  <div class="col-md-4 post-img-col">
                    <img class="post-img" src="post-img/<%= i%5 %>.jpg" alt="">
                  </div>
              </div>
          </div>
        <% } %>
        <% } %>
      </section>
  
  <%- include("partials/footer") -%>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>