<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtLogs</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <base href="/">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/post.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@500&family=Pacifico&display=swap" rel="stylesheet">
    
</head>
<body>
    <%- include("partials/navbar") -%>
                                
    <section id="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h3 class="post-heading"> <%= post.heading %> </h3>
                    <div class="post-details-wrapper">
                        <img class="author-img" src="post-img/post-img.png" alt="">
                        <p class="post-details"> <%= post.author %> | 🕓 <%= post.date %> | ⏳ <%= post.readingTime %> min</p>
                    </div>
                    <p class="post-text"> <%= post.postBody %> </p>

                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </section>
    
    <%- include("partials/footer") -%>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
        document.querySelector("p.post-text").innerHTML=document.querySelector("p.post-text").innerText;
    </script>
</body>
</html>
