<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThoughtLogs</title>
    <link rel="icon" href="browser-icon.svg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS -->
    <base href="/">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/post.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@500&family=Pacifico&display=swap" rel="stylesheet">
    
</head>
<body>
    <%- include("partials/navbar") -%>
                                
    <section id="post">
        <div class="container">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h6 class="post-space"><%= post.space %></h6>
                    <h3 class="post-heading"> <%= post.postTitle %> </h3>
                    <div class="post-details-wrapper">
                        <img class="author-img" src="post-img/avtar.jpg" alt="">
                        <p class="post-details"> <%= post.authorName %> | 🕓 <%= post.timeStamp %> | ⏳ <%= post.readTime %> min</p>
                    </div>
                    <!-- <p class="post-text">  </p> -->
                    <div class="post-text">
                        <%= post.postBodyHtml %>
                    </div>
                    

                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
    
    <%- include("partials/footer") -%>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script>
        document.querySelector("div.post-text").innerHTML = document.querySelector("div.post-text").innerText;
    </script>
</body>
</html>
